.homeWrapper {
  padding: 80px 20px 20px; /* Збільшуємо верхній відступ, щоб уникнути перекриття */
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  color: #e0f7fa;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 0 0 10px rgba(79, 172, 254, 0.5);
}

.error {
  color: #ff6f61;
  text-align: center;
}
